src/public/pdf/*
node_modules
src/.idea
docsaway-nodejs/tmp/
src/.settings
src/*.iml
src/.project
src/config.ts
src/config.js
src/config.js.map

# Mail Files
src/util/mail/model/ProviderType.*
src/util/mail/strategies/*
src/util/mail/policy.*