# IDE Files
.DS_Store
.settings
*.iml
.project
.idea
letterapp.iml
npm-debug.log

# Project Files
node_modules
docsaway-nodejs/tmp/
src/public/pdf/*
src/config.ts
src/config.js
src/config.js.map

# Mail Files
src/util/mail/model/ProviderType.*
src/util/mail/strategies/*
src/util/mail/policy.*