!!! 5
html
head
    title Mils Invoice
    meta(name='viewport', content='width=743')
    meta(http-equiv='content-type', content='text/html;charset=utf-8')
    style.(type='text/css')
      a,a:link,a:visited,a:active,a.aapl-link,a.aapl-link:link,a.aapl-link:visited,a.aapl-link:active { color: #08C; text-decoration:none }
      a:hover,a.aapl-link:hover { text-decoration:underline }
      a.span { color: inherit !important; text-decoration: inherit !important }
      body {width:100% !important}
      @media only screen and (max-device-width:768px) {
      #aapl-eyebrow,#aapl-footer {-webkit-text-size-adjust:120%}
      #aapl-eyebrow a,#aapl-footer a,#aapl-main a,#aapl-promos a,a {color:inherit}
      }
      @media
      only screen and (min-device-width: 481px) and (min-device-pixel-ratio : 2),
      only screen and (min-device-width: 481px) and (-webkit-min-device-pixel-ratio : 2) {
      img { visibility:hidden; }
      *[class=more] { visibility:visible; }
      *[class=aapl-link] img { visibility:visible; }
      *[class=logo] { background:url('http://devimages.apple.com/click/images/elements/developer_2x.png') no-repeat 10% 0; -webkit-background-size: 131px 27px; }
      *[class=top] { background:url('http://devimages.apple.com/click/images/elements/top_2x.gif') no-repeat 0 0; -webkit-background-size: 700px 4px; }
      *[class=hero] { background:url('http://devimages.apple.com/click/images/BuildYourAppsForiOS7_2x.png') no-repeat 100% 10px; -webkit-background-size: 698px 320px; }
      *[class=headershadow] { background:url('http://devimages.apple.com/click/images/elements/header_shadow_2x.jpg') no-repeat 0 0; -webkit-background-size: 698px 34px; }
      *[class=button] { background:url('http://devimages.apple.com/click/images/button/button-learn-more_2x.png') no-repeat 240px 10px; -webkit-background-size: 128px 28px; }
      *[class=bottom] { background:url('http://devimages.apple.com/click/images/elements/bottom_2x.gif') no-repeat 0 0; -webkit-background-size: 700px 7px; }
      }
    //if gte mso 9
      style.(type='text/css')
        table,td,div,p {font-family:Lucida Sans,Lucida Sans Unicode,Open Sans, Lucida Grande,Arial,Helvetica,Verdana,sans-serif !important;line-height:normal !important}
    //if lte mso 7
      style.(type='text/css')
        table,td,div,p {font-family:Open Sans, Lucida Grande,Lucida Sans,Lucida Sans Unicode,Arial,Helvetica,Verdana,sans-serif !important;line-height:normal}
  body(bgcolor='#f2f2f2', style='margin: 0; padding: 0;')
    table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='#f2f2f2')
      tr
        td(width='100%', style='padding: 20px 20px 40px 20px; background-color: #f2f2f2;', bgcolor='#f2f2f2')
          table#aapl-eyebrow(width='700', border='0', cellspacing='0', cellpadding='0', align='center', style='margin: 0 auto;')
            tr
              td.logo
                div(style='margin: 0px 0px 3px 0px;')
                  img(src='http://localhost:3000/email/Logo.png', alt='Mils', width='30', height='30', border='0')
              td(align='right', style='padding: 7px 19px;')
                div(style='font-family: Open Sans, Lucida Grande, Arial, Helvetica, Open Sans, Lucida Grande, Verdana, sans-serif; color: #666666; font-size: 10px; line-height: 1em;')
                  a.aapl-link(href='https://devforums.apple.com/community/ios', style='color: #666666; font-family: Open Sans, Open Sans, Lucida Grande, Arial, Helvetica, Open Sans, Lucida Grande, Verdana, sans-serif; font-size: 10px; white-space: nowrap;') Blog
                  | |
                  a.aapl-link(href='https://developer.apple.com/bug-reporting/', style='color: #666666; font-family: Open Sans, Lucida Grande, Arial, Helvetica, Open Sans, Lucida Grande, Verdana, sans-serif; font-size: 10px; white-space: nowrap;') Follow on Twitter
                  | |
                  a.aapl-link(href='https://developer.apple.com/membercenter/', style='color: #666666; font-family: Open Sans, Lucida Grande, Arial, Helvetica, Open Sans, Lucida Grande, Verdana, sans-serif; font-size: 10px; white-space: nowrap;') Like on Facebook
          table#aapl-main(width='700', border='0', cellspacing='0', cellpadding='0', align='center', style='margin: 0 auto;')
            tr
              td(width='700')
                table(width='700', border='0', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
                  tr
                    td(width='1', height='60', bgcolor='#dadada', style='background-color: #dadada;')
                    td(width='698', align='left')
                      table(border='0', cellspacing='0', cellpadding='0')
                        tr
                          td.hero
                            div(style='margin: 0px 0px 0px 0px;')
                              img(src='http://localhost:3000/email/Invoice.jpg', alt='Build your apps for iOS 7.', width='698', height='437', border='0', style='display: block; margin: 0;')
                    td(width='1', bgcolor='#dadada', style='background-color: #dadada;')
                  tr
                    td(width='1', height='0', bgcolor='#dadada', style='background-color: #dadada;')
                    td(width='698')
                    td(width='1', bgcolor='#dadada', style='background-color: #dadada;')
                  tr
                    td(width='1', height='34', bgcolor='#dadada', style='background-color: #dadada;')
                    td.headershadow(width='698')
                      div(style='margin: -5px 0px 0px 0px;')
                        img(src='http://devimages.apple.com/click/images/elements/header_shadow.jpg', width='698', height='34', alt='headershadow ')
                    td(width='1', bgcolor='#dadada', style='background-color: #dadada;')
                  tr
                    td(width='1', height='96', bgcolor='#dadada', style='background-color: #dadada;')
                    td(width='698', align='center')
                      table(width='698', border='0', cellspacing='0', cellpadding='0')
                        tr
                          td(width='44')
                          td(width='610', align='left')
                            //
                              BEGIN BODY COPY
                            div(style='margin: 0px 3px 0px 3px; font-family: Open Sans, Lucida Grande, Arial, Helvetica, Open Sans, Lucida Grande, Verdana, sans-serif; color: #333333; font-size: 14px; line-height: 1.8em;')
                              p Hi there,
                              p(style='white-space:pre;')
                                | thank you for using Mils. Please find invoice # #{invoiceNumber} attached.
                                | In case you have questions don't hestiate to get in touch with our 
                                a(href='mailto:billing@mi.ls', style='color: #3470B8; text-decoration: none;') support
                                | .
                              p(style='white-space:pre;')
                                | Regards,
                                | The Mils Team
                                
                          td(width='44')
                        tr
                          td(width='44')
                          td(width='44')
                    td(width='1', bgcolor='#dadada', style='background-color: #dadada;')
                  tr
                    td(width='1', height='41', bgcolor='#dadada', style='background-color: #dadada;')
                    td(width='698')
                    td(width='1', bgcolor='#dadada', style='background-color: #dadada;')
                  tr
                    td.bottom(width='700', height='7', valign='top', colspan='3')
                      img(src='http://devimages.apple.com/click/images/elements/bottom.gif', alt='', width='700', height='7', border='0', style='display: block; margin: 0;')
          //
            BEGIN LEGAL FOOTER
          table#aapl-footer(width='700', border='0', cellspacing='0', cellpadding='0', align='center', style='margin: 0 auto;')
            tr
              td(style='padding: 20px 20px 10px 15px;')
                div(style='font-family: Open Sans, Lucida Grande,Verdana,Arial,Helvetica,sans-serif; font-size: 10px; line-height: 1.4em; color: #888888;')
                  p
                    | Copyright © 2014 Mils
                    br
                div(style='font-family: Open Sans, Lucida Grande,Verdana,Arial,Helvetica,sans-serif; font-size: 10px; line-height: 1.4em; color: #888888;')
                br
                br
                br
                br
                br
            tr
      tr
        td
          img(src='http://c.apple.com/img/APPLE_EMAIL_LINK/spacer2.gif?v=2&a=AReqmqPpxfg5vj%2FAYh%2FIRWLcyOlxZq4jyOvGGWR3cABHt2ePEzxIaSB8%2F1iEHKVfE7Nlrjix%2FQm8fvWwIeaIcWFKKwEG69zRu4CCbAIy%2FAE%3D', alt='', width='1', height='1')
    img(src='http://metrics.apple.com/b/ss/appleuscdmclickmap/1/H.4-pdv-2/108242?[AQB]&pageName=P0014288-195581&r=D%3DReferer&v1=D%3DUser-Agent&v9=D%3DpageName&[AQE]', width='1', height='1', alt='')
