extends layout
block content
    div#welcome
        .container(style="padding:60px 0;text-align: center;")
            .row
                .col-lg-12(style="margin-bottom:49px;")
                    img(src='/images/logo.png', alt='Logo')
                    h1(style="color: #3974ba;margin: 40px 0;")
                        | FAQ
            .row
                .col-lg-6
                    h2 How Does Writing a Letter Online Work?
                    p
                        | In order to send a pdf file as a letter you need to download Mils for either Mac OS X or for Windows 8.
                        | After downloading the app, you can either select a PDF file. In the next step you need to add the recipient's address.
                        | Subsequently, Mils presents you the location of the printing partner and the location of the recipient as well as the distance between the two entities.
                        | Moreover, Mils shows which courier will deliver the letter.
                        | Mils provides you with the option to add a handwritten signature that you can create using Mils partner apps on Android, iOS, and Windows Phone.
                        | In a final step, you can pay using credit card.
                .col-lg-6
                    h2 What is Snail Mail?
                    p
                        | Snail Mail is a term introduced to describe traditional postal services.
    .container(style="text-align: center;padding: 60px 0;")
        .row
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 Why is the Recipient Address Required when Sending a Letter?
                p
                    | The recipient address is required in order to make sure to adapt to any domestic address format.
                    | As an example, a letter targeting the German address format will not match the cover window on an Australian letter.
                    | Therefore, Mils printing partners either add the recipient address to the letter or an extra sheet containing the recipient address and matching the cover window is added.
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 What Happens if the Letter Cannot be Delivered?
                p
                    | If the online letter cannot be delivered because of a typo in the recipient name it should come back to the printing partner who will in return notify us.
                    | In the case that we receive a notification we will let you know that the letter could not be printed.
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 How Private is Mailing a Letter Online with Mils?
                p
                    | Mils' staff cannot get in touch with your letter. Moreover, after successfully transfering the letter to the printing partner we remove the letter from Mils' servers.
                    | Of course we cannot guarantee the privacy a 100% as the printing partners still have to envelope the letter.
        .row
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 Do you Offer Mass Letter Writing Service?
                p
                    | No but we are thinking about this. Please get in touch if you need this.
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 How can I pay the Letter Online?
                p
                    | You can pay using any common credit card.
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 Can I send Anonymous Letters
                p
                    | Mils will not provide information about the sender of a letter unless requested by law.
                    | However, prior to sending the letter you might want to check the selected printing partner's terms as well.