!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0', minimum-scale='1', maximum-scale='1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/ico/favicon.ico')
    title Mils | PDF to Postal Mail on Mac OS X and Windows 8
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(rel="apple-touch-icon" href="/ico/apple-touch-icon-precomposed.png")
    //if lt IE 9
      script(src='/javascripts/ie8-responsive-file-warning.js')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/fancybox/jquery.fancybox.css?v=2.1.5', rel='stylesheet', media='screen', type='text/css')

  body
    div#welcome
      .container(style="padding:60px 0;text-align: center;")
        .row
          .col-lg-12(style="margin-bottom:49px;")
            img(src='/images/logo.png', alt='Logo')
            h1(style="color: #3974ba;margin: 40px 0;")
              | Send Snail Mail 
              strong Fast and Easy
              br
              | From Your Computer
        .row
          .col-lg-6
            img(src='/images/mac-os.png', alt='Mac OS X')
            p
              a.btn.btn-default(href='#', role='button', style='margin: 15px 0 49px 0;') Download Mils for Mac OS X
          .col-lg-6
            img(src='/images/windows-8.png', alt='Windows 8.1')
            p
              a.btn.btn-default(href='#', role='button', style='margin: 15px 0 49px 0;') Download Mils for Windows 8
    .container(style="text-align: center;padding: 60px 0;")
      .row
        .col-lg-4(style="padding: 0 15px 20px 15px")
          h2 Add your Handrwitten Signature
          img(src='/images/icon-signature.png', alt='Generic placeholder image', style='margin:20px 0;')
          p
            | Using the 
            strong Android
            | , 
            strong iOS
            | , and 
            strong Windows Phone 
            | companion apps, you can easily create a signature on your 
            strong smartphone screen.
        .col-lg-4(style="padding: 0 15px 20px 15px")
          h2 Choose from 23 Printing Locations
          img(src='/images/icon-globe.png', alt='Generic placeholder image', style='margin:20px 0;')
          p
            | Our 
            strong 23 printing sites 
            | in 23 different countries guarantee lightning speed postal delivery.
          p
            a.btn.btn-default.fancybox(href='https://www.zeemaps.com/pub?group=815303&nopdf=1&x=285.030314&y=70.588099&z=15', class='fancybox.iframe', role='button', style='margin-top: 35px;') View our printing sites
        .col-lg-4(style="padding: 0 15px 20px 15px")
          h2 Pay for the service as you go!
          img(src='/images/icon-pay.png', alt='Generic placeholder image', style='margin:20px 0;')
          p
            | Pay per letter. No need to deposit cash.
    div#price-top
    div#price
      .container
        .row
          div#pricebox
            p
              | Sending 
              input(type='text', value='1')#pages
              span#pagestext page to
              p
              select#countries
                each country in countries
                  if country[0] == "US"
                      option(value=country[0], selected="selected") #{country[1]}
                  else
                      option(value=country[0]) #{country[1]}
              p
              |  costs
            p(style='margin-top: 20px;font-weight: bold;color: #fff;')#costs
              | EUR 3,99
          div.spinner-wrap
            div.sprite-spinner
              img(src="/images/progressindicator.png")
     div#contact(style="display:none;width:500px;")
       h2 Contact
       p
        strong Address
       p Rocketmail
       p Alexander-Derek Rein
       p Irmgardstr. 15
       p 81479 Munich
       p Germany
       p
         strong Get in Touch
       p mail: adr@ceseros.de
       p Facebook
       p Twitter
     div#imprint(style="display:none; width: 500px;")
       h1 Imprint (According to German Law)
       p
       | Angaben gemäß § 5 TMG:
       br
       br
       p
       | Alexander-Derek Rein
       br
       | Rocketmail
       br
       | Irmgardstr. 15
       br
       | 81479 München
       br
       h2 Kontakt:
       table
          tr
            td
              p E-Mail:
            td
              p adr@ceseros.de
       h2 Umsatzsteuer-ID:
       p
       | Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
       br
       | DE298651109
       p  
       p
       | Quelle:
       i
         a(rel='nofollow', href='http://www.e-recht24.de/impressum-generator.html') http://www.e-recht24.de
       h1 Datenschutzerklärung:
       p
       strong Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button)
       p
         | Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook (Facebook Inc., 1601 Willow Road, Menlo Park, California, 94025, USA) integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem "Like-Button" ("Gefällt mir") auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier:
         a(href='http://developers.facebook.com/docs/plugins/', target='_blank') http://developers.facebook.com/docs/plugins/
         | .
         br
         | Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook "Like-Button" anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter
         a(href='http://de-de.facebook.com/policy.php', target='_blank')  http://de-de.facebook.com/policy.php
       p
         | Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
       p  
       p
         strong Datenschutzerklärung für die Nutzung von Google Analytics
       p
         | Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
       p
         | Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
       p
         | Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren:
         a(href='http://tools.google.com/dlpage/gaoptout?hl=de') http://tools.google.com/dlpage/gaoptout?hl=de
         | .
       p  
       p
       strong Datenschutzerklärung für die Nutzung von Google +1
       p
         i Erfassung und Weitergabe von Informationen:
         br
         | Mithilfe der Google +1-Schaltfläche können Sie Informationen weltweit veröffentlichen. über die Google +1-Schaltfläche erhalten Sie und andere Nutzer personalisierte Inhalte von Google und unseren Partnern. Google speichert sowohl die Information, dass Sie für einen Inhalt +1 gegeben haben, als auch Informationen über die Seite, die Sie beim Klicken auf +1 angesehen haben. Ihre +1 können als Hinweise zusammen mit Ihrem Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf Websites und Anzeigen im Internet eingeblendet werden.
         br
         | Google zeichnet Informationen über Ihre +1-Aktivitäten auf, um die Google-Dienste für Sie und andere zu verbessern. Um die Google +1-Schaltfläche verwenden zu können, benötigen Sie ein weltweit sichtbares, öffentliches Google-Profil, das zumindest den für das Profil gewählten Namen enthalten muss. Dieser Name wird in allen Google-Diensten verwendet. In manchen Fällen kann dieser Name auch einen anderen Namen ersetzen, den Sie beim Teilen von Inhalten über Ihr Google-Konto verwendet haben. Die Identität Ihres Google-Profils kann Nutzern angezeigt werden, die Ihre E-Mail-Adresse kennen oder über andere identifizierende Informationen von Ihnen verfügen.
         br
         br
         i Verwendung der erfassten Informationen:
         br
         | Neben den oben erläuterten Verwendungszwecken werden die von Ihnen bereitgestellten Informationen gemäß den geltenden Google-Datenschutzbestimmungen genutzt. Google veröffentlicht möglicherweise zusammengefasste Statistiken über die +1-Aktivitäten der Nutzer bzw. gibt diese an Nutzer und Partner weiter, wie etwa Publisher, Inserenten oder verbundene Websites.
         p  
         p
         strong Datenschutzerklärung für die Nutzung von Twitter
         p
         | Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., Twitter, Inc. 1355 Market St, Suite 900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen.
         p
         | Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter
         a(href='http://twitter.com/privacy', target='_blank') http://twitter.com/privacy
         | .
         p
         | Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter
         a(href='http://twitter.com/account/settings', target='_blank') http://twitter.com/account/settings
         | ändern.
         p  
         p
         i
           | Quellen:
           a(rel='nofollow', href='http://www.e-recht24.de/artikel/datenschutz/6590-facebook-like-button-datenschutz-disclaimer.html', target='_blank') eRecht24 Facebook Datenschutzerklärung
           | ,
           a(rel='nofollow', href='http://www.google.com/intl/de/analytics/privacyoverview.html', target='_blank') Google Analytics Datenschutzerklärung
           | ,
           a(rel='nofollow', href='http://www.google.com/intl/de/+/policy/+1button.html', target='_blank') Google +1 Bedingungen
           | ,
           a(rel='nofollow', href='http://twitter.com/privacy', target='_blank') Twitter Bedingungen
      .container
        footer
          p.pull-right
            a(href='#') Back to top
          span
            | © 2013 Mils ·&nbsp;
          a(href='/misc/Refund_Policy.pdf') Refund Policy
          span
            |  ·&nbsp;
          a(href='/misc/Privacy_Policy.pdf') Privacy Policy
          span
            |  ·&nbsp;
          a(href='/misc/Terms_and_Conditions.pdf') Terms & Conditions
          span
            |  ·&nbsp;
          a.fancybox.various(href='#contact') Contact
          span
            | ·&nbsp;
          a.fancybox.various(href='#imprint') Imprint

    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/holder.js')
    script(src='/javascripts/main.js')
    script(src='/fancybox/jquery.fancybox.pack.js?v=2.1.5')
