extends layout
block content
    div#welcome
        .container(style="padding:60px 0;text-align: center;")
            .row
                .col-lg-12(style="margin-bottom:49px;")
                    img(src='/images/logo.png', alt='Logo')
                    h1(style="color: #3974ba;margin: 40px 0;")
                        | About Mils
            .row
                .col-lg-12
                    p
                        | We suggest Mils as the hipster alternative to sending traditional Snail Mail.
                        | Mils was intended to be used by everybody who considers it a total drag to print, sign, envelope, and dispatch real mail.
                        | However, we can't wait to find out what you are using Mils for.
                    p
                        strong Get stuff done fast - one letter at a time!
                    p
                        strong Get in Touch
                    p Mail: contact [at] milsapp [dot] com
                    p
                        a(href="https://www.facebook.com/Milsapp", target="_blank") Facebook
                    p
                        a(href="https://www.twitter.com/milsapp", target="_blank") Twitter
            div(style="clear:both;")