extends layout

block content
    div#welcome
        .container(style="padding:60px 0;text-align: center;")
            .row
                .col-lg-12(style="margin-bottom:49px;")
                    img(src='/images/logo.png', data-src2x="/images/logo_2x.png", width="155", height="155", alt='Logo')
                    h1(style="color: #3974ba;margin: 40px 0;")
                        | Dashboard
            .row
                .col-lg-6
                    p
                        a.btn.btn-default(href='#', role='button', style='margin: 15px 0 49px 0;') Monthly Reports
                    p
                        a.btn.btn-default(target='__blank', href='https://www.parse.com/apps/mils--2#audience-1400968800000-1403733599999-daily_active_installations', role='button', style='margin: 15px 0 49px 0;') Parse
                    p
                        a.btn.btn-default(target='__blank', href='https://www.appannie.com/dashboard/26278/item/834618640/downloads/', role='button', style='margin: 15px 0 49px 0;') App Annie
                    p
                        a.btn.btn-default(target='__blank', href='http://www.appfeds.com/catalog/US/ceseros/mils/stats/', role='button', style='margin: 15px 0 49px 0;') App Feds
                    p
                        a.btn.btn-default(target='__blank', href='https://openexchangerates.org/account/usage', role='button', style='margin: 15px 0 49px 0;') Open Exchange Rates
                .col-lg-6
                    p
                        a.btn.btn-default(target='__blank', href='https://www.google.com/analytics/web/?hl=en#home/a22395890w52907402p53711178/', role='button', style='margin: 15px 0 49px 0;') Google Analytics
                    p
                        a.btn.btn-default(target='__blank', href='https://app.tapstream.com', role='button', style='margin: 15px 0 49px 0;') Tapstream
                    p
                        a.btn.btn-default(target='__blank', href='https://www.braintreegateway.com/merchants/krf85rj993z3mj7n/home', role='button', style='margin: 15px 0 49px 0;') Braintree
                    p
                        a.btn.btn-default(target='__blank', href='https://adwords.google.com/cm/CampaignMgmt?authuser=0&__u=4929646583&__c=3894629393#c.206797157.ag&app=cm', role='button', style='margin: 15px 0 49px 0;') AdWords
                    p
                        a.btn.btn-default(target='__blank', href='https://www.facebook.com/ads/manage/home/?account_id=302465503099897', role='button', style='margin: 15px 0 49px 0;') Facebook Ads Manager
    .container(style="text-align: center;padding: 60px 0;")
        .row
            .col-lg-12(style="padding: 0 15px 20px 15px")
                h2 Letters Sent
                canvas#totalLetterCount(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Average Return
                canvas#averageReturn(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Total Return
                canvas#totalReturn(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Average Page Count
                canvas#averagePageCount(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Total Page Count
                canvas#totalPageCount(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Average Printing Cost
                canvas#averagePrintingPrice(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Total Printing Cost
                canvas#totalPrintingPrice(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Average Grossing
                canvas#averagePrice(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Total Grossing
                canvas#totalPrice(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Average Net Grossing
                canvas#averageNet(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Total Net Grossing
                canvas#totalNet(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Average VAT
                canvas#averageVat(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Total VAT
                canvas#totalVat(width='500', height='200')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Destination Countries
                canvas#destinationCountries(width='300', height='300')
            .col-lg-6(style="padding: 0 15px 20px 15px")
                h2 Billing Countries
                canvas#billingCountries(width='300', height='300')

    script(src='/javascripts/chart.js')
    script.
        monthly = !{JSON.stringify(monthly)};recipientCountry = !{JSON.stringify(recipientCountry)};billingCountry = !{JSON.stringify(billingCountry)};
    script(src='/javascripts/admin.js')
    style(type='text/css')
        canvas { margin: 20px 0px 40px;}