extends layout
block content
    div#welcome
        .container(style="padding:60px 0;text-align: center;")
            .row
                .col-lg-12(style="margin-bottom:49px;")
                    img(src='/images/logo.png', data-src2x="/images/logo_2x.png", width="155", height="155", alt='Logo')
                    h1(style="color: #3974ba;margin: 40px 0;")
                        | FAQ
            .row
                .col-lg-12
                    ul(style="list-style: none")
                        each item in data
                            li
                                a(href=item.link) #{item.name}