extends layout
block content
    div#welcome
        .container(style="padding:60px 0;text-align: center;")
            .row
                .col-lg-12(style="margin-bottom:49px;")
                    img(src='/images/logo.png', alt='Logo')
                    h1(style="color: #3974ba;margin: 40px 0;")
                        | How Sending a Letter Online Works
            .row
                .col-lg-12
                    p
                        | In order to send a pdf as a real letter you need to download the Mils app. From then on it's pretty straightforward.
                        | You can select a pdf file, drop a pdf file into the prepared area, or just press print in any printing enabled app and select "Send to Mils".
                        | In the next step, you can optionally add a signature to the letter and then go on to pay for the online letter and have it printed and delivered.
            div(style="clear:both;")