extends layout

block content
    div#welcome
        .container(style="padding:60px 0 30px;text-align: center;")
            .row
                .col-lg-12(style="margin-bottom:49px;")
                    img(src='/images/logo.png', alt='Logo')
                    h1(style="color: #3974ba;margin: 40px 0;")
                        | Send Snail Mail&nbsp;
                        strong Fast and Easy&nbsp;
                        br
                        | From Your Computer
            .row
                .col-lg-4
                    img(src='/images/mac-os.png', alt='Mac OS X')
                    p
                        if osInfo.isMacOsX
                            a.btn.btn-default(href='macappstore://itunes.apple.com/app/id834618640?mt=12', role='button', style='margin: 15px 0 49px 0;') Download Mils for Mac OS X
                        else
                            a.btn.btn-default(href='https://itunes.apple.com/us/app/mils/id834618640?ls=1&mt=12', role='button', style='margin: 15px 0 49px 0;') Download Mils for Mac OS X
                .col-lg-4
                    a(href="https://www.youtube.com/watch?v=z-Ag0xRoDms?autoplay=1", class='fancybox-media')
                        img(src='/images/Play-Button.png', alt='Play Video', style='width:300px;margin-top:5px;')
                    p
                        a.btn.btn-default(href="https://www.youtube.com/watch?v=z-Ag0xRoDms?autoplay=1", class='fancybox-media', style='margin: 47px 0 49px 0;') Play Video
                .col-lg-4
                    img(src='/images/windows-8.png', alt='Windows 8.1')
                    p
                        if osInfo.isWindows8
                            a.btn.btn-default(href='ms-windows-store:PDP?PFN=2418Ceseros.Mils_hks05crvxp2m6', role='button', style='margin: 15px 0 49px 0;') Download Mils for Windows 8.1
                        else
                            a.btn.btn-default(href='http://apps.microsoft.com/windows/app/mils/6d018356-b186-4e04-b10f-f138f54375a9',target="__blank", role='button', style='margin: 15px 0 49px 0;') Download Mils for Windows 8.1
    .container(style="text-align: center;padding: 60px 0;")
        .row
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 Add your Handwritten Signature
                img(src='/images/icon-signature.png', alt='Generic placeholder image', style='margin:20px 0;')
                p
                    | Using the&nbsp;
                    strong Android
                    | ,&nbsp;
                    strong iOS
                    | , and&nbsp;
                    strong Windows Phone
                    | &nbsp;companion apps, you can easily create a signature on your&nbsp;
                    strong smartphone screen.
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 Choose from 23 Printing Locations
                img(src='/images/icon-globe.png', alt='Generic placeholder image', style='margin:20px 0;')
                p
                    strong 23 printing partners
                    | &nbsp;in 23 different countries guarantee lightning speed postal delivery.
                p
                    a.btn.btn-default.fancybox(href='https://www.zeemaps.com/pub?group=815303&nopdf=1&x=285.030314&y=70.588099&z=15', class='fancybox.iframe', role='button', style='margin-top: 35px;') View our printing partners
            .col-lg-4(style="padding: 0 15px 20px 15px")
                h2 Pay per Letter
                img(src='/images/icon-pay.png', alt='Generic placeholder image', style='margin:54px 0 20px;')
                p
                    | Pay for the service as you go. Only for the letters you really send. No need to deposit cash.
    div.covertop
    div#generic
        .container
            .row
                .col-lg-12(style="margin-bottom:49px;")
                    h1(style="color: #ffffff;margin: 40px 0;")
                        strong Share Your Thoughts About Mils
            .row
                .col-lg-4(style="padding: 0 15px 20px 15px;max-width:390px;text-align:center;")
                    h2 Facebook
                    p
                        | Share your Thoughts on Facebook
                    p
                        .fb-like(style="max-width:390px;", data-href='https://www.facebook.com/Milsapp', data-layout='standard', data-action='recommend', data-show-faces='true', data-share='true')
                .col-lg-4(style="padding: 0 15px 20px 15px;;text-align:center;")
                    h2 Google+
                    p
                        | Share your Thoughts on Google+
                    p
                        g:plus(action='share')
                .col-lg-4(style="padding: 0 15px 20px 15px;text-align:center;")
                    h2 Twitter
                    p
                        | Share your Thoughts on Twitter
                    p
                        a.twitter-share-button(href='https://milsapp.com', data-lang='en') Tweet About Mils

    .container(style="text-align: center;padding: 60px 0;")
        .row
            .col-lg-12(style="margin-bottom:49px;")
                h1(style="margin: 40px 0;")
                    strong
                        | What Our Customers Say
        .row
            .col-lg-6(style="padding: 0 15px 20px 15px; text-align:left;")
                .col-lg-4(style="padding: 0 15px 20px 15px")
                    img(src='/images/raffaela-rein.jpg', alt='Raffaela Rein', style='margin:20px 0;')
                .col-lg-8(style="padding: 50px 15px 20px 15px")
                    p
                        | Most of CareerFoundry's stakeholders - both customers and investors - are globally distributed.
                        | Therefore, it was crucial for us to find a partner who can dispatch letters at a fast pace.
                        | We're happy to have found Mils as they serve our stakeholders ridiculously fast!
                    p
                        i
                            | Raffaela Rein, CEO & Co-Founder at CareerFoundry
            .col-lg-6(style="padding: 0 15px 20px 15px; text-align:left;")
                .col-lg-4(style="padding: 0 15px 20px 15px")
                    img(src='/images/simon-fakir.jpg', alt='Simon Fakir', style='margin:20px 0;')
                .col-lg-8(style="padding: 50px 15px 20px 15px")
                    p
                        | Many of my customers require bills to be sent via postal service.
                        | I like Mils because it allows me to dispatch the letters from any place on earth.
                        | On top of that, it does not require me to have a printer or envelope at my current location.
                    p
                        i
                            | Simon Fakir, Managing Director at Fakir Informatik
            .col-lg-6(style="padding: 0 15px 20px 15px; text-align:left;")
                .col-lg-4(style="padding: 0 15px 20px 15px")
                    img(src='/images/patrick-hiesel.jpg', alt='Patrick Hiesel', style='margin:20px 0;')
                .col-lg-8(style="padding: 20px 15px 20px 15px")
                    p
                        | Living in the U.S. while serving most of my customers in Germany was a tough challenge.
                        | Especially staying in touch with authorities and customers would have been much more tedious without Mils.
                        | Even back at home I rely on Mils for sending snail mail as it's just easy and beautiful.
                    p
                        i
                            | Patrick Hiesel, Visiting Student at MIT and Managing Director at Hiesel.net
    div.covertop
    div#price
        .container
            .row
                div#pricebox
                    p
                        | Sending
                        input(type='text', value='1')#pages
                        span#pagestext page to
                        p
                        select#countries
                            each country in countries
                                if country[0] == "US"
                                    option(value=country[0], selected="selected") #{country[1]}
                                else
                                    option(value=country[0]) #{country[1]}
                        p
                        | costs
                    p(style='margin-top: 20px;font-weight: bold;color: #fff;')#costs
                        | EUR 3,99
                div.spinner-wrap
                    div.sprite-spinner
                        img(src="/images/progressindicator.png")
    if osInfo.isMacOsX || osInfo.isWindows8
        //
         Google Code for Mac OS X or Windows 8 User Conversion Page
        script(type='text/javascript').
            /* <![CDATA[ */
            var google_conversion_id = 1025854613;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "0KlDCOWWnAkQlZmV6QM";
            var google_remarketing_only = false;
            /* ]]> */
        script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')
        noscript
            div(style='display: inline;')
                img(height='1', width='1', style='border-style: none;', alt='', src='//www.googleadservices.com/pagead/conversion/1025854613/?label=0KlDCOWWnAkQlZmV6QM&guid=ON&script=0')
