!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0', minimum-scale='1', maximum-scale='1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='shortcut icon', href='/ico/favicon.ico')
        title Mils | PDF to Postal Mail on Mac OS X and Windows 8
        link(href='/stylesheets/bootstrap.css', rel='stylesheet')
        link(rel="apple-touch-icon" href="/ico/apple-touch-icon-precomposed.png")
        //if lt IE 9
          script(src='/javascripts/ie8-responsive-file-warning.js')
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
        link(href='/stylesheets/style.css', rel='stylesheet')
        link(href='/fancybox/jquery.fancybox.css?v=2.1.5', rel='stylesheet', media='screen', type='text/css')
        script(src='/javascripts/ga.js')
        block head

    body
        header(style='background: #333;padding:5px;text-align:center;')
            a(href='/') Home
            &nbsp;&nbsp;&nbsp;&nbsp;
            a(href='/faq/') FAQ
            &nbsp;&nbsp;&nbsp;&nbsp;
            a(href='/pricing/') Pricing
            &nbsp;&nbsp;&nbsp;&nbsp;
            a(href='/blog/') Blog
        block content

        .container
            footer(style="padding:10px 0 5px;")
                p.pull-right
                    a(href='#') Back to top
                span
                    | © 2013 Mils &nbsp;·&nbsp;
                a(href='/misc/Refund_Policy.pdf', rel="nofollow") Refund Policy
                span
                    | &nbsp;·&nbsp;
                a(href='/misc/Privacy_Policy.pdf', rel="nofollow") Privacy Policy
                span
                    | &nbsp;·&nbsp;
                a(href='/misc/Delivery_Policy.pdf', rel="nofollow") Delivery Policy
                span
                    | &nbsp;·&nbsp;
                a(href='/misc/Terms_and_Conditions.pdf', rel="nofollow") Terms & Conditions
                span
                    | &nbsp;·&nbsp;
                a(href='/contact') Contact
                span
                    | &nbsp;·&nbsp;
                a(href='/imprint', rel="nofollow") Imprint
            .row
                .col-lg-12(style="padding-top: 5px;")
                    p
                        | Mils allows you to send any pdf file as a real letter. Thus, you can send snail mail fast and easy from your computer.
                        | Mils is the only app that allows you to send snail mail online and pay per letter easily via credit card.
                        | Use mils to send a letter online!
            .row
                .col-lg-4(style="padding:20px 0;text-align: center;")
                    .fb-like(data-href='https://www.facebook.com/Milsapp', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
                .col-lg-4(style="padding:20px 0;text-align: center;")
                    a.twitter-follow-button(href='https://twitter.com/milsapp', data-show-count='false', data-lang='en') Follow @milsapp
                .col-lg-4(style="padding:20px 0;text-align: center;")
                    g:page(href='https://plus.google.com/111220395281633118387', data-layout="landscape", data-width="273", width="273")

        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/holder.js')
        script(src='/javascripts/main.js')
        script(src='/fancybox/jquery.fancybox.pack.js?v=2.1.5')
        script(src='/fancybox/jquery.fancybox-media.js')
        #fb-root
        script
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=460877000633532";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        script(type='text/javascript', src='https://apis.google.com/js/plusone.js')