extends layout
block title
    | Can I track the delivery of the letter
block text
    p
    | No. We work with many printing companies and even more postal services worldwide.
    | Only few of these offer the possibility to track the letters you send online.
    | Hence, we cannot provide such a service.