extends layout
block title
    | How Sending a Letter Online Works
block text
    p
    | In order to send a pdf file as a letter you need to download Mils for either Mac OS X or for Windows 8.
    | After downloading the app, you can either select a PDF file. In the next step you need to add the recipient's address.
    | Subsequently, Mils presents you the location of the printing partner and the location of the recipient as well as the distance between the two entities.
    | Moreover, Mils shows which courier will deliver the letter.
    | Mils provides you with the option to add a handwritten signature that you can create using Mils partner apps on Android, iOS, and Windows Phone.
    | In a final step, you can pay using credit card.