extends layout
block title
    | How Fast Will the Letter be Delivered?
block text
    p
    | Most of our printing partners print at least once a day on weekdays.
    | Of course you need to add the time required by the courier.