extends layout
block title
    | How Private is Mailing a Letter Online with Mils?
block text
    p
    | Mils' staff cannot get in touch with your letter. Moreover, after successfully transfering the letter to the printing partner we remove the letter from Mils' servers.
    | Of course we cannot guarantee the privacy a 100% as the printing partners still have to envelope the letter.