extends layout
block title
    | Is the Signature Legally Valid?
block text
    p
    | This depends on domestic laws depending on the country where you send the letter to.
    | While we want to point out that this is no legal advice, we want to share our rule of thumb:
    | A smartphone signature can - in many countries - be compared to a copy of a signature which again is similar to a signature on a Fax.
    | Hence, in many countries, things that are legally valid to be signed and sent via Fax can also be sent with a smartphone signature.
    | Again: This is no legal advice.