extends layout
block title
    | What Happens if the Letter Cannot be Delivered?
block text
    p
    | If the online letter cannot be delivered because of a typo in the recipient name it should come back to the printing partner who will in return notify us.
    | In the case that we receive a notification we will let you know that the letter could not be printed.