extends layout
block title
    | Why is the Recipient Address Required when Sending a Letter?
block text
    p
    | The recipient address is required in order to make sure to adapt to any domestic address format.
    | As an example, a letter targeting the German address format will not match the cover window on an Australian letter.
    | Therefore, Mils printing partners either add the recipient address to the letter or an extra sheet containing the recipient address and matching the cover window is added.